<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="css/styles.css"> 
    </head>
    
    <body>
        {{>header}}
        
        
        <img src="css/IMG_20180708_131503_Bokeh.jpg" > 
       
        {{>footer}}
    </body>
</html>