<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="css/styles.css"> 
    </head>
    
    <body>
        {{>header}}
              <h1>ERROR 404</h1>
        {{>footer}}
    </body>
</html>