<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/css/styles.css">    
    </head>
    
    <body>
        {{>header}}
        <p>{{message}}</p> 
        {{>footer}}
    </body>
</html>