
     html{
          background: url("background.jpg");
          text-align:center;
          height:100%;
          color:white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

      }
      body{
        background:none;
      }
      .container{
        margin:150px auto;
        width:450px;
        text-align:center;
        color:white;
      }
      input{
        margin:30px auto;
      
      }
      #report{
        margin-top:15px;
      }